    <!-- SERVICE START -->
    <section class="section" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-heading mb-5">
                            <h3 class="text-dark mb-1 font-weight-light text-uppercase">{{contents.home.service.data.title}}</h3>
                            <div class="title-border-simple position-relative"></div>
                        </div>
                    </div>
                    <!-- col end -->
                </div>
                <!-- row end -->
    
                <div class="row">
                    <div class="col-lg-4 col-md-6" *ngFor="let item of contents.home.service.data.items; let i = index">
                        <div class="service-box rounded mt-4 p-4">
                            <div class="service-icon mb-3">
                                <i [class]=item.icon></i>
                            </div>
                            <div class="services-desc">
                                <div class="service-title mb-2 position-relative">
                                    <h5 class="font-weight-normal mb-3"><a href="#" class="text-dark">{{item.title}}</a>
                                    </h5>
                                </div>
                                <p class="text-muted mb-3 f-14">{{item.description}}</p>
                                <p class="mb-0 text-uppercase f-13"><a href="#" class="text-primary">learn more<i
                                            class="mdi mdi-arrow-right ml-2"></i></a></p>
                            </div>
                        </div>
                    </div>
                    <!-- col end -->
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->
        </section>
        <!-- SERVICE END -->
    