<!-- HOME START -->
<section class="section home-5-bg" id="home">
    <div class="bg-overlay" id="particles"></div>
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="mt-40 text-center home-5-content">
                            <div class="home-icon mb-4">
                                <i [class]="contents.home.banner.data.logo"></i>
                            </div>
                            <h1 class="text-white font-weight-normal home-5-title mb-0">{{contents.home.banner.data.title}}</h1>
                            <p class="text-white-70 mt-4 f-15 mb-0">{{contents.home.banner.data.description}}</p>
                            <div class="mt-5">
                                <button type="submit" class="btn btn-custom">Get started</button>
                            </div>
                        </div>
                    </div>
                    <!-- col end -->
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->
        </div>
    </div>

</section>
<!-- HOME END -->