<!-- CONTACT US START -->
<section class="section bg-light" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-heading mb-5">
                    <h3 class="text-dark mb-1 font-weight-light text-uppercase">{{contents.home.contact.data.title}}
                    </h3>
                    <div class="title-border-simple position-relative"></div>
                </div>
            </div>
            <!-- col end -->
        </div>
        <!-- row end -->

        <div class="row">
            <div class="col-lg-12">
                <div class="contact-box p-5">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="custom-form p-3">
                                <div id="message"></div>
                                <form method="post" action="php/contact.php" name="contact-form" id="contact-form">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group app-label">
                                                <input name="name" id="name" type="text" class="form-control"
                                                    placeholder="Name">
                                            </div>
                                        </div>
                                        <!-- col end -->
                                        <div class="col-lg-6">
                                            <div class="form-group app-label">
                                                <input name="email" id="email" type="email" class="form-control"
                                                    placeholder="Email">
                                            </div>
                                        </div>
                                        <!-- col end -->
                                        <div class="col-lg-12">
                                            <div class="form-group app-label">
                                                <input type="text" class="form-control" id="subject"
                                                    placeholder="Subject" />
                                            </div>
                                        </div>
                                        <!-- col end -->
                                        <div class="col-lg-12">
                                            <div class="form-group app-label">
                                                <textarea name="comments" id="comments" rows="5" class="form-control"
                                                    placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <!-- col end -->
                                    </div>
                                    <!-- row end -->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="submit" id="submit" name="send"
                                                class="submitBnt btn btn-custom" value="Send Message">
                                            <div id="simple-msg"></div>
                                        </div>
                                        <!-- col end -->
                                    </div>
                                    <!-- row end -->
                                </form>
                            </div>
                        </div>
                        <!-- col end -->

                        <div class="col-lg-4 col-md-6">
                            <div class="contact-cantent p-3">
                                <div class="contact-details">
                                    <div class="float-left contact-icon mr-3 mt-2">
                                        <i class="mdi mdi-headphones text-muted h5"></i>
                                    </div>
                                    <div class="app-contact-desc text-muted pt-1">
                                        <p class="mb-0 info-title f-13">Call :</p>
                                        <p class="mb-0 f-13">{{contents.home.contact.data.details.phone}}</p>
                                    </div>
                                </div>

                                <div class="contact-details mt-2">
                                    <div class="float-left contact-icon mr-3 mt-2">
                                        <i class="mdi mdi-email-outline text-muted h5"></i>
                                    </div>
                                    <div class="app-contact-desc text-muted pt-1">
                                        <p class="mb-0 info-title f-13">Email :</p>
                                        <p class="mb-0 f-13"><a href=""
                                                class="text-muted">{{contents.home.contact.data.details.email}}</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="contact-details mt-2">
                                    <div class="float-left contact-icon mr-3 mt-2">
                                        <i class="mdi mdi-map-marker text-muted h5"></i>
                                    </div>
                                    <div class="app-contact-desc text-muted pt-1">
                                        <p class="mb-0 info-title f-13">Location :</p>
                                        <p class="mb-0 f-13"><a href=""
                                                class="text-muted">{{contents.home.contact.data.details.address}}</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="follow mt-4">
                                    <h4 class="text-dark mb-3">Follow</h4>
                                    <ul class="follow-icon list-inline mt-32 mb-0">
                                        <li class="list-inline-item f-15"><a href="#" class="social-icon text-muted"><i
                                                    class="mdi mdi-facebook"></i></a>
                                        </li>
                                        <li class="list-inline-item f-15"><a href="#" class="social-icon text-muted"><i
                                                    class="mdi mdi-twitter"></i></a>
                                        </li>
                                        <li class="list-inline-item f-15"><a href="#" class="social-icon text-muted"><i
                                                    class="mdi mdi-google-plus"></i></a></li>
                                        <li class="list-inline-item f-15"><a href="#" class="social-icon text-muted"><i
                                                    class="mdi mdi-linkedin"></i></a>
                                        </li>
                                        <li class="list-inline-item f-15"><a href="#" class="social-icon text-muted"><i
                                                    class="mdi mdi-whatsapp"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- col end -->
                    </div>
                    <!-- row end -->
                </div>
            </div>
            <!-- col end -->
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</section>
<!-- CONTACT US END -->