<!-- FOOTER ALT START -->
<section class="footer-alt bg-dark pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="copyright text-white f-14 font-weight-light mb-0">{{ contents.home.footer.data.title }}</p>
            </div>
            <!-- col end -->
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</section>
<!-- FOOTER ALT END -->