<!-- PRODUCTS START -->
<section class="section bg-clients" id="product">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-heading mb-5">
                    <h3 class="text-white mb-1 font-weight-light text-uppercase">{{products.product.data.title}}</h3>
                    <div class="title-border-simple position-relative"></div>
                </div>
            </div>
            <!-- col end -->
        </div>
        <!-- row end -->

        <div class="row">
            <div class="col-md-4" *ngFor="let item of products.product.data.items; let i = index">
                <div class="blog position-relative">
                    <div class="blog-img position-relative mt-4">
                        <img [src]="item.img" alt="" class="img-fluid mx-auto d-block rounded">
                    </div>
                    <div class="position-relative">
                        <div class="blog-content text-center bg-white p-4">
                            <p class="text-uppercase f-13 mb-2 text-muted">ui/ux designer</p>
                            <h5 class="font-weight-normal f-18"><a href="#" class="text-dark">{{item.title}}</a></h5>
                            <p class="text-muted f-14">{{item.description}}</p>
                            <div class="read-more">
                                <a href="#" class=" text-primary f-15">Read more<i class="mdi mdi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- col end -->

        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</section>
<!-- PRODUCTS END -->