
<!-- HOME START -->
<section class="section home-5-bg" id="home">
    <div class="bg-overlay" id="particles"></div>
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="mt-40 text-center home-5-content">
                            <div class="home-icon mb-4">
                                <i [class]="contents.home.banner.data.logo"></i>
                            </div>
                            <h1 class="text-white font-weight-normal home-5-title mb-0">{{contents.home.banner.data.title}}</h1>
                            <p class="text-white-70 mt-4 f-15 mb-0">{{contents.home.banner.data.description}}</p>
                            <div class="mt-5">
                                <button type="submit" class="btn btn-custom">Get started</button>
                            </div>
                        </div>
                    </div>
                    <!-- col end -->
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->
        </div>
    </div>

</section>

<!--END HEADER-->

<section>
    <div class="wrapper">

        <!-- START CONTACT -->
        <section class="section bg-light" id="contact">
            <div class="container">

                <!-- start row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-box text-center">
                            <h3 class="title-heading">{{contents.order.data.details.title}}</h3>
                            <div class="section-title-border margin-t-20"></div>
                            <p class="title-desc text-muted mt-3">Condimentum auctor ante sed interdum proin viverra sed
                                lectus et iaculis maecenas tortor lorem bibendum pretium.</p>
                        </div>
                    </div>
                </div>

                <!-- end row -->

                <!-- start row -->

                <div class="row mt-5">
                    <div class="col-lg-12">
                        <div class="custom-form mt-4">
                            <div id="message"></div>
                            <form method="post" action="php/contact.php" name="contact-form" id="contact-form">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="name">Select Products</label>
                                            <select name="selectProducts" id="selectProducts" class="form-control">
                                                <option value="0">-- Select Products --</option>
                                                <option value="1">Products 1</option>
                                                <option value="0">Products 2</option>
                                                <option value="0">Products 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="tel">Phone No.</label>
                                            <input name="tel" id="tel" type="text" class="form-control"
                                                placeholder="Your Phone no...">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input name="name" id="name" type="text" class="form-control"
                                                placeholder="Your name...">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="email">Email address</label>
                                            <input name="email" id="email" type="email" class="form-control"
                                                placeholder="Your email...">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="address">Address</label>
                                            <textarea name="address" id="address" rows="4" class="form-control"
                                                placeholder="Your address..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        <input type="submit" id="submit" name="send"
                                            class="submitBnt btn btn-custom btn-round" value="Submit">
                                        <div id="simple-msg"></div>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>

                <!-- end row -->
            </div>
        </section>
        <!-- END CONTACT -->
    </div>
</section>