<!--Navbar Start-->

    <nav class="navbar navbar-expand-lg fixed-top navbar-custom navbar-light sticky sticky-dark">
        <div class="container">

            <!-- LOGO -->
            <a class="navbar-brand logo" href="index-5.html">
                <img src="assets/lib/images/zooki.png" alt="" height="20">
            </a>
            <!-- LOGO -->

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-spy="scroll" data-target="#navbarCollapse" data-offset="50"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
                    <li class="nav-item active">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#services" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="#product" class="nav-link">Products</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link">Contact us</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

<script src="assets/lib/js/app.js"></script>
<!-- Navbar End -->